<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{site.title}}</title>

    <meta name="description" content="">
    <meta name="author" content="Stefan Glase">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/site.js"></script>
</head>
<body>

<div class="container">
    <section class="header">
        <img class="logo" src="/images/codescape-logo.png" alt="codescape Logo">
        <h1 class="title">{{site.title}}</h1>
    </section>

    <div class="navbar-spacer"></div>
    <nav class="navbar">
        <a href="#top" class="hamburger">&#9776;</a>
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="/#about">About Us</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/#products">Our Products</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/#contact">Contact Us</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/#imprint">Imprint</a></li>
            </ul>
        </div>
    </nav>

    {{content}}

    <div class="docs-section footer">
        <img class="skyline" src="/images/skyline-leichlingen.png" alt="binary skyline of Leichlingen"/>
        <p>&copy; 2010 - <script>document.write(new Date().getFullYear())</script> <a href="/#imprint">codescape</a></p>
    </div>

</div>

</body>
</html>
